<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="elmajdma.movie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- <uses-permission android:name="com.example.udacity.droidtermsexample.TERMS_READ"/> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MovieTheme">
        <provider
            android:name=".data.moviedatabase.MovieProvider"
            android:authorities="elmajdma.movie.data.moviedatabase"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true" />

        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/MovieTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.YoutubeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="nosensor"
            android:theme="@style/BlackNoTitleBarTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>